.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    /* background-color: black;
    width: 100%; */
    /* position: fixed; */
}

.header__logo {
    display: flex;
    flex-direction: row;
    margin-top: -12px;
    margin-left: 30px;
}

.header-text {
    font-weight: 600;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.4;
}

/* .button-grp {
    padding: 0 10px 0 10px;
} */
.button-grp {
    display: flex;
    flex-direction: row;
}

.log-button {
    color:white;
    font-size: 20px;
    padding-top: 6px;
    padding-right: 10px;
    cursor: pointer;
}

.explore-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    width: 6rem;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

.connect-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px;
    /* margin: 10px;
    right: 350; */
}

.sign-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    width: 6rem;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px;
}