* {
    box-sizing: border-box;
    margin: 0;
}

/* .intro-section {
    margin-top: 50px;
} */

.intro-text {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 25px;
    padding: 20px;
}

.heading-text {
    font-weight: 600;
    /* font-size: 48px; */
    justify-content: center;
    text-align: center;
    line-height: 1.23;
    margin-left: auto;
    margin-right: auto;
}

.description-text {
    padding-top: 60px;
    font-weight: 600;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.transfer-nft {
    background: -webkit-linear-gradient(left, #12b89a, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    border: 1px solid transparent;
    top: 60%;
    left: 100px;
    /* position: absolute; */
    border-radius: 12px;
    margin: 15px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
}

/*-webkit-linear-gradient(left, #12b89a, #35aee2)*/

.transfer-address {
    background: -webkit-linear-gradient(left, #12b89a, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    border: 1px solid transparent;
    top: 60%;
    left: 100px;
    /* position: absolute; */
    border-radius: 12px;
    margin: 15px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    width: 12rem;
    color: white;
    line-height: 32px;
    cursor: pointer;
}

.upload__btn {
    background: #222b3d;
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    width: max-content;
    color: white;
    cursor:pointer;
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 13px;
}

.upload-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 20px;
}

.send-section {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 20px;
}