
.main__landing__section {
    display: flex;
    flex-direction: row;
    overflow-x:hidden;
}

.landing__text {
    margin-top: 80px;
    margin-left: 70px;  
}

.landing__image {
    margin-left: 20px;
    margin-right: 80px;
    width: 100px;
}

.connect-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px;
}

.new__button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
  
.modal {
    position: fixed;
    z-index: 20;
    background: #1a202c;
    width: 500px;
    height:40vh;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
  
/* .modal__main {
    padding: 20px;
} */
  
.close-button {
    border: none;
    background: transparent;
    /* padding: 10px; */
    cursor: pointer;
    color: hsla(0,0%,100%,.5);
    font-size: 36px;
    float:right;
}
  
.close-button:hover {
    color: #60c657;
}
