
.main__landing__section {
    display: flex;
    flex-direction: row;
    overflow-x:hidden;
}

.landing__text {
    margin-top: 80px;
    margin-left: 70px;  
}

.landing__image {
    margin-left: 20px;
    margin-right: 80px;
    width: 100px;
}

.connect-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px;
}

.new__button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px
}
