.landing__page__section {
    height: 100%;
}

.main__landing__section {
    display: block;
    overflow-x:hidden;
}

.landing__text {
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;  
}

.head__txt {
    margin-left: auto;
    margin-right: auto;
}

.descrp__txt {
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .landing__image {
    margin-left: 20px;
    margin-right: 80px;
    width: 100px;
} */

.connect-button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px;
}

.new__button {
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    width: max-content;
    color: white;
    line-height: 32px;
    cursor: pointer;
    border-radius: 10px
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
  
.modal {
    position: fixed;
    z-index: 20;
    background: #1a202c;
    width: 500px;
    height:40vh;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.explore_modal {
    position: absolute;
    margin-top: 40px;
    z-index: 20;
    background: #1a202c;
    width: 600px;
    height:max-content;
    border-radius: 12px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;
    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login__modal {
    position: fixed;
    z-index: 20;
    background: #1a202c;
    width: 350px;
    height:60vh;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
  
.explore__main {
    font-family: sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}

.explore__name {
    height: 40px;
    line-height: 4;
    size: 50;
    width: 540px;
    margin-top: 8px;
    text-decoration: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    color: white;
    background-color: #222b3d;
}

::placeholder {
    color:hsla(0,0%,100%,.5);
}

.upload__section {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.upload__nav {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    padding-bottom: 15px;
    background-color: #222b3d;
    border: 2px solid transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.upload__btn {
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 10px;
}

.description__field {
    height: 60px;
    line-height: 1;
    width: 540px;
    margin-top: 10px;
    text-decoration: none;
    outline: none;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    background-color: #222b3d;
    resize: none; 
}

.properties__section {
    margin-right: 20px;
}

.properties__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reset__btn {
    margin-top: 20px;
}

.property__line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: -5px;
}

.property__name {
    width: 250px;
    height: 30px;
    text-decoration: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 5px;
    color: white;
    background-color: #222b3d;
}

.property__name::placeholder {
    padding-left: 15px;
}

.add__row__btn {
    margin-top: 10px;
    height: 30px;
    color: white;
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    text-decoration: none;
    border-radius: 10px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.submit__btn {
    margin-top: 15px;
    font-size: 25px;
    height: 35px;
    width: 540px;
    color: white;
    background: -webkit-linear-gradient(left, #60c657, #35aee2);
    text-decoration: none;
    border-radius: 10px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.login__input {
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
}


.sign__text {
    color: white;
    font-weight: 600;
}

.log__text {
    color:hsla(0,0%,100%,.5);
    padding-top: 20px;
}

.name__field {
    height: 40px;
    line-height: 4;
    size: 50;
    width: 320px;
    margin-top: 50px;
    text-decoration: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    background-color: #fff;
}

/* .back__history__text {
    text-decoration: none;
} */

.description-field {
    height: 60px;
    line-height: 1;
    width: 320px;
    margin-top: 55px;
    text-decoration: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    background-color: #fff;
    resize: none; 
}

::placeholder {
    color: black;
}

.sign__btn {
    height: 50px;
    width: 320px;
    margin-top: 45px;
    color: hsla(0,0%,100%,.5);
    font-weight: 600;
    font-size: 30px;
    background-color: #222b3d;
    border: 1px solid transparent;
    border-radius: 13px;
}
  
.close-button {
    border: none;
    background: transparent;
    /* padding: 10px; */
    cursor: pointer;
    color: hsla(0,0%,100%,.5);
    font-size: 36px;
    float:right;
}
  
.close-button:hover {
    color: #60c657;
}
