.login-section {
    display: block;
    width: 100%;
    height: 100vh;
}


.login__input {
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
}


.sign__text {
    color: white;
    font-weight: 600;
}

.log__text {
    color:hsla(0,0%,100%,.5);
    padding-top: 20px;
}

.name__field {
    height: 40px;
    line-height: 4;
    size: 50;
    width: 400px;
    margin-top: 50px;
    text-decoration: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    background-color: #fff;
}

/* .back__history__text {
    text-decoration: none;
} */

.description__field {
    height: 60px;
    line-height: 1;
    width: 400px;
    margin-top: 55px;
    text-decoration: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    background-color: #fff;
    resize: none; 
}

::placeholder {
    color: black;
}

.sign__btn {
    height: 50px;
    width: 400px;
    margin-top: 45px;
    color: hsla(0,0%,100%,.5);
    font-weight: 600;
    font-size: 30px;
    background-color: #222b3d;
    border: 1px solid transparent;
    border-radius: 13px;
}